body{
  background-color: snow;
}

.center{
  text-align: center;
}

.container{
  padding: 2px;
}

.box{
  background-color: tan;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.board{
	padding-top: 25px;
	border-radius: 25px;
	width: 790px;
	height: 675px;
	background-color: blue;
}